/*
---------
JOURNAL HEADER MODS
- ADDS BRIGHT BLUE IF HEADER IS COLLAPSED TO MAKE IT VERY OBVIOUS
H1
- Previously tried to target ".journal .cm-header-1" but didn't work and below seems to
- Tried these too: font-size: var(--font-text-size); - xpadding-left: 5px; - xtext-decoration: underline; - xdisplay: inline-block;
H2 - H4 below too
---------
*/
/* H1 only on Journal pages -- making h1 small here to prefix time */
.journal.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-1
{
	xmargin-top: 0px !important; /* Attempting to fix wonkiness by using padding instead of margins */
	xmargin-bottom: 0px !important; /* Attempting to fix wonkiness by using padding instead of margins */
	padding-top: 30px !important; padding-bottom: 6px !important;

	font-size: 17px !important;
	padding-left: 0px !important;
	font-weight: 400;
	color: #7a7676 !important;
	
	xcolor: #5B95F3 !important; /* Blue color was way it was but gray might be better */
	xbackground: #6A3C14; /* Color from Textmate */
	xborder-bottom: 1px solid #6A3C14 !important;
}
/* h1 elsewhere is slightly smaller */
.inline-title  { font-size: 1.6rem !important; font-weight: 600; }
/* h2 and h3 */
.HyperMD-header .cm-header-2, .HyperMD-header .cm-header-3 { font-size: 1.4rem !important; font-weight: 600 !important;	xdisplay: block; xborder-bottom: 1px solid #ddd; }
/* Not sure why I added there?  */
.HyperMD-header.HyperMD-header-2.cm-line { margin-bottom: 4px !important; }
/* h3 */
.HyperMD-header .cm-header-3 { xfont-weight: 500 !important; font-size: 1.2rem !important; }
/* h4 */
/** 2023-07-09 - Updated h4 too! **/
.HyperMD-header .cm-header-4 { xfont-weight: 500 !important; font-size: 1.1rem !important; }
/* h6 - inactive ... not sure idea here */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
    xbackground: red;
	xpadding-left: 5px !important;
}
/*
---------
HEADER COLLAPSE
- ADDS BRIGHT BLUE IF HEADER IS COLLAPSED TO MAKE IT VERY OBVIOUS
---------
*/
.cm-editor .is-collapsed {
	background: blue;
}

/*
---------
IMAGES
- Adding boxes around embeds, more like Wikipedia
---------
*/
.image-embed img {
	/** Styles taken from Wikipedia images **/
	padding: 3px;
	border: 1px solid #c8ccd1;
	background-color: #f8f9fa;
	font-size: 94%;
}
/*
---------
ORDERED LISTS
- Changes color (was a muted gray)
---------
*/
.cm-s-obsidian .cm-formatting-list, 
ol li::marker /* Think this one is frontend */
{
  color: var(--color-orange);
}


/** I guess I had already messed with this */
ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

/* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */
ol li:before {
  color: #e75204;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}
/*
---------
HIGHER ACCENT COLOR
- Issue: I was having a hard time reading the blue color when in dark mode
- Solution: Increase contrast of accent color by making it darker in light mode and lighter in dark mode. FROM HERE: https://forum.obsidian.md/t/higher-contrast-accent-color-in-both-light-and-dark-modes-css-snippet/46512
- Note: Current shade of Blue = #1266ED -- I lost the previous shade of blue I was using which I liked but got something similar
---------
*/
body {
	--accent-l-diff: 13%;
}
/* My light version felt fine so just need to change the dark */
/*
.theme-light {
	--accent-l-mod: calc(var(--accent-l) - var(--accent-l-diff));
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l-mod);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l-mod)); 
	--color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l-mod) + 2.5%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l-mod) + 5%));
}
*/
.theme-dark {
	--accent-l-mod: calc(var(--accent-l) + var(--accent-l-diff));
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l-mod);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l-mod));
	--color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l-mod) + 2.5%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l-mod) + 5%));
}